.create-project-wrapper {
  text-align: center;
  color: white;
}

.create-project-header {
  font-size: 1.5rem;
}
.create-project-title-div {
  margin-bottom: 1rem;
}
.create-project-title {
  width: 20rem;
  font-size: 1.5rem;
}

.create-project-content {
  width: 20rem;
  height: 10rem;
  font-size: 1.5rem;
}

.create-project-button {
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.5rem;
  color: black;
  background-color: white;
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 100;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #AFE9FF;
  cursor: pointer;
}